httpserver.log
httpserver.pid
applications/*/progress.log
applications/examples/static/epydoc
applications/examples/static/sphinx
logs/
parameters_8000.py
parameters_8000.py
*.table
*.log
*.sqlite
applications/Commodity/databases/storage.sqlite
applications/Commodity/databases/*
