{{extend 'layout.html'}}

{{block header}}
    <header class=" hdbgcolor">
      <div class="jumbotron text-center hdbgcolor">
          <img src="../static/images/Commodity_Logo.png" alt="Commodity Logo" class="jumotronlogo">
          <div class="row">
              <div class="col-xs-6 col-sm-4">
                  <a href="{{=product1URL}}">
                      <h2 class="textcolor">{{=product1Name}} </h2>
                      <img src="{{=URL('default', 'download', args=product1Image)}}" class="hdimage"/> 
                  </a>
                  <p class="tagtext">Tags: {{=product1Tag1}} {{=product1Tag2}} {{=product1Tag3}}</p>
              </div>
              <div class="col-xs-6 col-sm-4">
                  <a href="{{=product2URL}}">
                      <h2 class="textcolor">{{=product2Name}}</h2>
                      <img src="{{=URL('default', 'download', args=product2Image)}}" class="hdimage"/>
                  </a>
                  <p class="tagtext">Tags: {{=product2Tag1}} {{=product2Tag2}} {{=product2Tag3}}</p>
              </div>
              <div class="col-xs-6 col-sm-4">
                  <a href="{{=product3URL}}">
                      <h2 class="textcolor">{{=product3Name}}</h2>
                      <img src="{{=URL('default', 'download', args=product3Image)}}" class="hdimage"/>
                  </a>
                  <p class="tagtext">Tags: {{=product3Tag1}} {{=product3Tag2}} {{=product3Tag3}}</p>
              </div>
              </div>
        </div>
      </div>
    </header>
{{end}}

<h1 class="center">Welcome to Commodity - The Product Review Platform.</h1>

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Don't know what to do?")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
    <li class="list-group-item"><a href="http://web2py.com">web2py.com</a></li>
    <li class="list-group-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
  </ul>
</div>
{{end}}
