{{extend 'layout.html'}}

{{block header}}
    <header class=" hdbgcolor">
      <div class="jumbotron text-center hdbgcolor">
          <img src="../static/images/Commodity_Logo.png" alt="Commodity Logo" class="jumotronlogo">
          <div class="row">
              <div class="col-xs-6 col-sm-4">
                  <div class="thumbnail">
                      <img src="{{=URL('default', 'download', args=product1Image)}}"/>
                      <div class="caption">
                          <h3>{{=product1Name}} <span class="label label-success">NEW</span> </h3>
                          <p>Tags: {{=product1Tag1}} {{=product1Tag2}} {{=product1Tag3}}</p>
                          <p><a href="{{=product1URL}}" class="btn btn-primary" role="button">View {{=product1Name}}</a></p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4">
                  <div class="thumbnail">
                      <img src="{{=URL('default', 'download', args=product2Image)}}"/>
                      <div class="caption">
                          <h3>{{=product2Name}} <span class="label label-success">NEW</span> </h3>
                          <p>Tags: {{=product2Tag1}} {{=product2Tag2}} {{=product2Tag3}}</p>
                          <p><a href="{{=product2URL}}" class="btn btn-primary" role="button">View {{=product2Name}}</a></p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-6 col-sm-4">
                  <div class="thumbnail">
                      <img src="{{=URL('default', 'download', args=product3Image)}}"/>
                      <div class="caption">
                          <h3>{{=product3Name}} <span class="label label-success">NEW</span> </h3>
                          <p>Tags: {{=product3Tag1}} {{=product3Tag2}} {{=product3Tag3}}</p>
                          <p><a href="{{=product3URL}}" class="btn btn-primary" role="button">View {{=product3Name}}</a></p>
                      </div>
                  </div>
              </div>
              </div>
        </div>
      </div>
    </header>
{{end}}

<h1 class="center">Welcome to Commodity - The Product Review Platform.</h1>

<div class="jumbotron center">
    <h3>New Reviews:</h3>
</div>
{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Don't know what to do?")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
    <li class="list-group-item"><a href="http://web2py.com">web2py.com</a></li>
    <li class="list-group-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
  </ul>
</div>
{{end}}
