{{extend 'layout.html'}}
<div class="col-md-12">
    <h1>Search Products</h1>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3>Enter search details below: </h3>
        </div>
        <div class="panel-body">
            <form action="{{=URL()}}" class="form-horizontal form-group" method="post">{{=form}}</form>
        </div>
    </div>
    {{if searchCheck == True:}}
        {{i = 0}}
        {{for row in productName:}}
    <div class="jumbotron">
        <img class="img-search" src="{{=URL('default', 'download', args=productImage[0])}}"/>
        <h1 class="text-search">{{=productName[i]}}</h1>
        <div class="desc-search">
            <p class="text-search">{{=productDescription[i]}}</p>
        </div>
        <p class="text-search">£{{=productPrice[i]}}</p>
        <p class="text-search">Tags:
            <a>{{=productTag1[i]}}</a>
            <a>{{=productTag2[i]}}</a>
            <a>{{=productTag3[i]}}</a>
        </p>
        <p class="text-search">Time Published: {{=ProductTimeStamp[i]}}</p>
    </div>
        {{i = i + 1}}
        {{pass}}
    {{pass}}
</div>
