{{extend 'layout.html'}}
<section class="center">
    <h1>{{=name}}</h1>
    <img src="{{=URL('default', 'download', args=image)}}" class="largeimage thumbnail"/>
    <h2>Description:</h2>
    <p>{{=description}}</p>
    <p>Price: £{{=price}}</p>
    <p>Tags: {{=tag1}} {{=tag2}} {{=tag3}}</p>
    {{if loggedIn == 0:}}
        <form action="http://127.0.0.1:8000/Commodity/default/user/login">
            <button type="submit" class="btn btn-info btn-lg">Login/Register to post a review</button>
        </form>
    {{else:}}
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#reviewModal">Leave a Review</button>
    {{pass}}
</section>

<h1>Reviews:</h1>
{{for row in newRows:}}
<div class="panel panel-success">
    <div class="panel-heading">
        <h4>{{=row.review_name}}</h4>
    </div>
    <div class="panel-body">
        <p>Date: {{=row.time_stamp}}</p>
        <p>Author: {{=row.reviewer_name}}</p>
        <p>Rating: {{=row.review_rating}}</p>
        <p class="reviewText">Review:</p>
        <p>{{=row.review_content}}</p>
    </div>
    <div class="panel-footer">
        {{reviewID = row.id}}
        {{loop = 1}}
        {{canReview = 1}}
        {{for row in db().select(db.review_rate.ALL):}}
            {{if loggedIn == 1 and loop == 1:}}
                {{if str(reviewID) == str(row.review_id) and str(auth.user.id) == str(row.user_id):}}
                    {{canReview = 0}}
                    {{loop = 0}}
                {{elif reviewID != row.review_id and auth.user.id != row.user_id:}}
                    {{canReview = 1}}
                {{pass}}
            {{pass}}
    {{pass}}
    {{if loggedIn == 0:}}
        <p class="helpfulText">Was this review helpful? <a href="http://127.0.0.1:8000/Commodity/default/user/login">Login/Register to rate it</a></p>
    {{elif canReview == 1:}}
        <p class="helpfulText">Was this review helpful? {{=A('Yes', callback=URL('upvote', args=reviewID))}} {{=A('No', callback=URL('downvote', args=reviewID))}} </p>
    {{elif canReview == 0:}}
            <p class="helpfulText">Thank you for rating this review</p>
    {{pass}}
    </div>
</div>
{{pass}}

<div id="reviewModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Leave a review</h4>
            </div>
            <div class="modal-body">
                {{=form}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
