/*custom css*/
.productLeft {
    float: left;
}
.productRight {
    float: right;
    text-align: left;
    margin-left: 0px;
}
.largeimage {
    width: 100%;
    height: auto;
    max-width: 550px;
}
.hdimage {
    width: auto;
    height: 15vh;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hdbgcolor {
    background-color: #31343a;
    overflow: hidden;
}
.textcolor {
    color: #dbdde0;
}
.tagtext {
    color: #dbdde0;
    font-size: 10px;
}
