/*custom css*/
.reviewText {
    font-weight: bold;
}

.reviews {
    margin-left: 20px;
    width: 90%;
}
.jumotronlogo {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    color: #dbdde0;
}
.newProducts {
    color: #31343a;
    text-align: center;
    margin-bottom: 20px;
}

.productLeft {
    float: left;
}
.productRight {
    float: right;
    text-align: left;
    margin-left: 0px;
}
.largeimage {
    width: 100%;
    height: auto;
    max-width: 550px;
}
.hdimage {
    width: auto;
    height: 15vh;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hdbgcolor {
    background-color: #31343a;
    overflow: hidden;
}
.textcolor {
    color: #dbdde0;
}
.tagtext {
    color: #dbdde0;
    font-size: 10px;
}
